body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1c2331, #4a5568);
}

.container {
    background: linear-gradient(45deg, #6200ea, #00bcd4);
    border-radius: 15px;
    padding: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff;
    display: block;
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    display: block;
}

button, input[type="submit"] {
    background-color: #fff; /* White button background */
    color: #6200ea; /* Purple button text */
    cursor: pointer;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #4d00cb;
}

form.home-button {
    position: fixed;
    top: 10px;
    right: 10px;
}
