body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1c2331, #4a5568);
    color: #fff;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin: 5px 0;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    display: block;
}

input[type="submit"] {
    background-color: #311b92; /* Set your desired button color */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: #1a237e; /* Set your desired button hover color */
}
