<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Song is already present</h1>
<div>
		<form action="AddSongs" method="post">
			<label>Song Name:</label> 
			<input type="text" name="Name" required/> <br> <br> 
			<label>Song Artist:</label> 
			<input type="text"  name="Artist" required/> <br> <br> 
			<label>Song Genre:</label> 
			<input type="text" name="Genre" required/> <br> <br> 
			
		    <label> Song Link:</label> 
			<input type="text" name="Link" required/> <br> <br> 
			
			<button value="AddSongs">Add Songs</button>
		</form>
</div>
</body>
</html>