<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tune Hub</title>
    <link rel="stylesheet" Th:href="@{CSS/index.css}">
</head>
<body>
     <div class="container fancy-border">
        <h1>Welcome to Tune Hub Application</h1>
        <p>Your favorite place for music discovery.</p>
        <a href="register" class="action-button">Register</a>
        <a href="login" class="action-button">Login</a>
    </div>
</body>
</html>
