<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" Th:href="@{CSS/loginfail.css}">
    <title>Login Error</title>
</head>
<body>
    <div class="container">
        <h1>Invalid Email or Password <br> Re-Login</h1>
        <div>
            <form action="login" method="post">
                <label>Email ID:</label>
                <input type="email" name="email" required/> <br> <br>
                <label>Password:</label>
                <input type="password" name="password" required/> <br> <br>
                <input type="submit" value="Login"/>
            </form>
        </div>
    </div>
</body>
</html>
